accelerate
torch
safetensors
bitsandbytes
scipy
peft
transformers
tqdm
packaging
pytest
numpy
pyyaml
psutil
setuptools
pandas
seaborn
matplotlib
wandb
lm_eval
datasets==4.0.0
alpaca_eval
git+https://github.com/felipemaiapolo/tinyBenchmarks